//rkhrmhkierhkrne
body {
    margin: 0px;
    width: 100%;
    max-width: 100%;
}
.main-container, .testimonial-container, .about-container {
   width: 80%;
   margin: 0px auto;
}
.main-title, .main-about, .service-title, .service-desc, .carousel-quote, .quote-author, .about, .as-title, .wf-overlay-text{
    font-family: 'Baloo Thambi 2';
    font-size: 20px;
}

.main-title {
    font-size: 50px;
    color: #af473c;
    margin: 70px 0 8px;
}
.title-underline {
    content: "";
    display: block;
    background-color: black;
    width: 200px;
    height: 1px;
}
.main-about {
    margin: 50px 0 0;
}
.inner-about {
    font-weight: bold;
    color: #af473c;
}
.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px 0 0;
}
.service-container {
    width: 450px;
}
.service-image-container {
    overflow: hidden;
    width: 450px;
    height: 225px;
}
.service-image {
    width: 450px;
   
}
.service-title {
    font-size: 30px;
    color: #af473c;
    text-align: center;
    margin-top: 15px;
}
.service-underline {
    content: "";
    display: block;
    background-color: black;
    width: 130px;
    height: 1px;
    margin: 20px 0 20px 160px;
}
.service-desc {
    text-align: center;
}
.carousel-quote, .quote-author {
    color: white;
    font-size: 25px;
    text-align: center;
}
.carousel-text-overlay {
    width: 70%;
    margin: 80px auto 0;
}
.fas {
    color: white;
    transform: scale(2);
}
.fa-quote-left {
    position: absolute;
    top: 20%;
    left: 10%;
}
.fa-quote-right {
    position: absolute;
    top: 44%;
    right: 10%;
}
.quote-underline {
    content: "";
    display: block;
    background-color: white;
    width: 400px;
    height: 1px;
    margin: 25px auto;
}


/////////////////////////////////////////////////
//  Partners page
/////////////////////////////////////////////////
.partner-title, .partner-underline {
    margin-left: 10%;
}
.partners-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 140px;
    margin: 70px auto;
    .partner {
        width:33%;
        img {
            display: block;
            margin: auto;
            filter: grayscale(100%);
        }
    }
}


/////////////////////////////////////////////////
//  About us page
/////////////////////////////////////////////////
.about-container {
    .title-underline {
        margin-bottom: 70px;
    }
}
.workforce-image {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wf-image-one {
    background-image: url("../img/workforce.jpg");
    min-height: 600px; 
}
.wf-image-two {
    background-image: url("../img/workforceDiversity.jpg");
    min-height: 400px; 
}
.wf-image-three {
    background-image: url("../img/workforceHappy.jpg");
    min-height: 500px; 
}
.wf-image-four {
    background-image: url("../img/workforceKaren.PNG");
    min-height: 100vh;
}
.about-section {
    .as-title {
        font-size: 30px;
        padding: 50px 0 8px;
    }
}
.as-one {
    height: 300px;
    .as-title {
        color: #af473c;
    }
}
.as-two {
    height: 300px;
    background-color: #af473c; 
}
.as-three {
    height: 400px;
   background-color:  #3c3c3c;
   color: white;
   .as-underline {
       background-color: white;
   }
}
.wf-overlay-container {
    position: relative;
}
.workforce-overlay {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #2727279a;
    opacity: 0.7;
  }
  .wf-overlay-text {
      color: white;
      font-size: 50px;
      text-align: center;
      padding-top: 49vh;
  }