/* ============== about us page ======================= */

.workforce-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wf-image-one {
  background-image: url("../img/workforce.jpg");
  min-height: 600px; 
}
.wf-image-two {
  background-image: url("../img/workforceDiversity.jpg");
  min-height: 400px; 
}
.wf-image-three {
  background-image: url("../img/workforceHappy.jpg");
  min-height: 500px; 
}
.wf-image-four {
  background-image: url("../img/workforceKaren.PNG");
  min-height: 100vh;
}
