nav {
  position: absolute;
    top: 0;
    right: 0;
}

.nav-container {
    width:150px;
    height:30em;
    background-color: #af473c;
    position: relative;
  }

  .main-nav {
    list-style-type: none;
    display:flex;
    flex-direction: column;
    position: absolute;
    text-transform: uppercase;
    width: 150px;
    li {
      width:150px;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      text-decoration: none;
      margin-top:55px ;
    }
    li a:hover {
      text-decoration: underline;
    }
  }