
  
  h1 {
    font-family: 'Pacifico';
    font-size: 22px;
    color: red;
  }

  .text-to-change {
    font-family: 'Baloo Thambi 2';
  }

  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
  }

  header{
    background: url('../img/lobster-head.jpg');
    background-size:cover;
  }

  footer {
    background: #af473c;
    color:white;
  }

  hr {
    width:8.125em;
  }

/* ============== header Section ======================= */

  .title-right {
    text-align: right;
    margin:0 50px 40px 0;
  }

  .title-left {
    text-align: left;
    margin:30px 0 0 60px;
    display:block;
  }

  .title,
  .sub-title {
    display:table;
  }

  .top-header {
    color:white;
    margin: 0 20px 100px 0;
    display:inline-block;
  }

  .book-header {
    border:none;
    color:white;
    background: #af473c;
    padding: 4px 4px;
    text-align: center;
    text-decoration:none;
    width:6.25em;
    cursor: pointer;
  }

  .fa-envelope {
    width: 100px;
    height: 100px;
  }

/* ============== Navigation bar ======================= */

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #af473c;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    text-decoration: underline;
  }

  /* =============== Sub Footer ======================== */

  .book-bar {
    background-color: #3c3c3c;
    color: white;
    text-align: left;
    padding:3%;
    display:block;
    overflow:hidden;
  }

  .button {
    text-align: right;
    margin: 10px;
  }

   /* =============== main Footer ======================== */

  .foot-c1,
  .foot-c2,
  .foot-c3 {
    max-width: 33.33%;
    display: table-cell;
    height: auto;
    justify-content: space-between;
    padding: 10px 10px 10px 100px;
  }

  .copyright {
    text-align: center;
    font-size: 11px;
    padding: 0 0 5px 0;
  }

  h6 {
    font-size:20px;
    font-family: 'Baloo Thambi 2';
    margin-top: 30px;
    margin-bottom: 10px;
  }

  a {
    color:white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }