
  
  h1 {
    font-family: 'Pacifico';
    font-size: 22px;
    color:#af473c;
  }

  header{
    background: url('../img/lobster-head.jpg');
    background-size:cover;
    position: relative;
    width:100%;
    height: 30em;
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,0.2)
  }
  
.main-font{   
    font-family: 'Baloo Thambi 2';
    font-size: 20px;
    font-weight: normal;
}

/* ============== header Section ======================= */



  .title-right {
    display: none;
    margin-top: 30px;
    text-align: right;
    width:50%;
    height:3.75em;
    text-transform: uppercase;
    i {
      padding-right: 0.625em;
    }
  }

  .title-left {
    text-align: left;
    width:50%;
    display:block;
    h1 {
      font-family: 'Pacifico';
      font-size: 50px;
      color: #af473c;
      margin-bottom: 0px;
    }
    p {
      font-size: 50px;
      color: black;
      z-index: 2;
      margin-top: 0px;
    }
  }

  .top-header {
    color:white;
    margin: 0 20px 100px 0;
    display:inline-block;
  }

  .book-header {
    border:none;
    color:white;
    background: #af473c;
    padding: 4px 4px;
    text-align: center;
    text-decoration:none;
    width:6.25em;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .title-topR {
    padding-top:0.625em;
    height: 1.875em;
  }

  .title-lowR {
    color:white;
    text-align: -webkit-right;
    h1 {
      font-size:60px;
      
      text-transform: uppercase;
      color:white;
      margin-bottom: inherit;
    }
    p {
      font-size: 1.6875em;
      text-transform: none;
    }
    hr {
      width:9.125em;
      align-self: right;
      display: table-caption;
    }
    button {
      height: 2.1em;
      width: 40%;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
/* ============== Main Section ======================= */
.main-title {
  font-size: 50px;
  color: #af473c;
  margin: 70px 0 8px;
}
.title-underline {
  content: "";
  display: block;
  background-color: black;
  width: 200px;
  height: 1px;
}
.main-about {
  margin: 50px 0 0;
}
.inner-about {
  font-weight: bold;
  color: #af473c;
}
.services-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 70px 0 0;
  .service-container {
    width: 100%;
  }
}

.service-image-container {
  overflow: hidden;
  width: 100%;
  height: 225px;
}
.service-image {
  width: 100%;
}
.service-title {
  font-size: 30px;
  color: #af473c;
  text-align: center;
  margin-top: 15px;
}
.service-underline {
  content: "";
  display: block;
  background-color: black;
  width: 130px;
  height: 1px;
  margin: 20px 0 20px 33%;
}
.service-desc {
  text-align: center;
}

/* ============== Carousel ======================= */

.carousel-wrapper {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 400px;
  margin-top: 100px;
}
.carousel-wrapper * {
 box-sizing: border-box;
}
.carousel {
  transform-style: preserve-3d;
  position: relative;
  height: 200px;
}
.carousel-overlay {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  background-color: #2727279a;
  opacity: 0.7;
}
.carousel__photo {
  opacity: 0;
  position: absolute;
  top: -235%;
  width: 100%;
  transition: transform .5s, opacity .5s, z-index .5s;
}
.carousel__photo.active {
opacity: 1; 
}
.carousel-quote, .quote-author {
  color: white;
  font-size: 25px;
  text-align: center;
}
.carousel-text-overlay {
  width: 70%;
  margin: 80px auto 0;
}
.fas {
  color: white;
  transform: scale(2);
}
.fa-quote-left {
  position: absolute;
  top: 20%;
  left: 10%;
}
.fa-quote-right {
  position: absolute;
  top: 44%;
  right: 10%;
}
.quote-underline {
  content: "";
  display: block;
  background-color: white;
  width: 400px;
  height: 1px;
  margin: 25px auto;
}
  /* ============== Contact us form ======================= */


  .checkbox {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: row;
  }

  .sub-title {
    font-size:30px;
    color:#af473c;
    margin-top:15px
  }
  
  #map {
    position: absolute;
    width:50%;
    height:50%;
    margin-left: auto;
    margin-right: auto;
    margin: 3.125em 0 3.125em 0;
    align-self: center;
    border:solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #000000;
  }

/* ============== about us page ======================= */
  .about-section {
    .as-title {
        font-size: 30px;
        padding: 50px 0 8px;
    }
}
.as-one {
    height: 450px;
    .as-title {
        color: #af473c;
    }
}
.as-two {
    height: 450px;
    background-color: #af473c; 
}
.as-three {
    height: 415px;
   background-color:  #3c3c3c;
   color: white;
   .as-underline {
       background-color: white;
   }
}
.wf-overlay-container {
    position: relative;
}
.workforce-overlay {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #2727279a;
    opacity: 0.7;
  }
  .wf-overlay-text {
      color: white;
      font-size: 50px;
      text-align: center;
      padding-top: 49vh;
  }

/* ============== partners page ======================= */
  .partner-title, .partner-underline {
    display: none;
    margin-left: 10%;
  }
  